<div style="text-align: center;">
    <p style="color: #fff; background-color: #7159c1; padding:20px; font-size: 16px;  ">
    <strong> Ola, {{ student }} </strong>
    <p style="font-size: 16px;"> Seu agendamento foi efetuado com sucesso! Confira os detalhes abaixo</p>

    <p style="color: #666; border:1px solid #7159c1; padding:20px; font-size: 16px;">
        <strong style="font-size: 14px; color: 7159c1;  "> Plano:  </strong> {{ plan }} <br>
        <strong style="font-size: 14px; color: 7159c1;"> Data Inicio:  </strong> {{ startDate }} <br>
        <strong style="font-size: 14px; color: 7159c1;"> Dat a Fim: </strong> {{ endDate }} <br>
        <strong style="font-size: 14px; color: 7159c1;"> Preço Total: </strong>  {{ totalPrice }}

    </p>
    <br>
    <small style="color: #fff; background-color: #7159c1; padding:20px; font-size: 16px;">
            Seu acesso é de 3 meses.
        </small>
</div>

